.button-group {
  display: flex;
  gap: clamp(20px, 8vw, 165px);
  justify-content: center;
  background-color: #000;
  padding-top: 15px;
  padding-bottom: 15px;
}

.button-group .button {
  margin: 0 10px;
  color: #000000;
  background-color: #FF4081;
  text-decoration: none;
  font-family: "Gugi", sans-serif;
  font-weight: normal;
  font-size: medium;
  padding: 8px 16px;
  border-radius: 6px;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-group .button:hover {
  background-color: #a2e733;
  color: #FF4081;
  cursor: pointer;
}