/* Variables color */
$color-fondo: #F0F8E0;
$color-primario: #FF4081;
$color-secundario: #a2e733;
$color-negro: #000000;
$color-texto: #1E1E24;

/* Variables tipografía */
$fuente-titulos: "Gugi", sans-serif;
$fuente-textos: "Poiret One", sans-serif;